tr.points-6 {
    background-color: green;
}

tr.points-4 {
    background-color: seagreen;
}

tr.points-3 {
    background-color: yellowgreen;
}

tr.points-2 {
    background-color: yellow;
}

tr.points-1 {
    background-color: orange;
}

tr.points-0 {
    background-color: red;
}

tr.myself {
    background-color: gray;
}