<h1>Hello Open Liga DB</h1>

<div style="color: red; font-weight: bold;">{{error}}</div>

Saison:
<select [(ngModel)]="selectedSeason" (change)="onSeasonChange()">
  <option *ngFor="let season of seasons" [ngValue]="season">{{season}}</option>
</select>
<br>

Team:
<select [(ngModel)]="selectedTeam" (change)="onTeamChange()">
  <option *ngFor="let team of teams" [ngValue]="team">{{team.TeamName}}</option>
</select>

(selected ID: {{selectedTeam?.TeamInfoId}})

<table>
  <tr>
    <td>Pos</td>
    <td>Name</td>
    <td>Goals</td>
    <td>Points</td>
  </tr>
  <tr *ngFor="let team of teams; index as i;" class="two-wins">
    <td style="text-align: center;">{{i+1}}</td>
    <td>{{team.TeamName}}</td>
    <td>{{team.Goals}} : {{team.OpponentGoals}}</td>
    <td style="text-align: center;">{{team.Points}}</td>
  </tr>
</table>